.items{
    float: right;
}
.menus{
    transition: box-shadow .3s;
    display: block;
    border: 1px solid black;
    margin: 1.5px;
    padding: 1.5px;
    font-size: 1rem;
}
.menus:hover{
    box-shadow: 0 0 11px rgba(150,150,150,1);
    border: 2px solid white;
    background-color: black;
    font-size: 1.2rem;
}

a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a:active{
    color: white;
    text-decoration: none;
}